body, html {
	width: 100%;
	height: 100%
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url(dhaval-parmar-531583-unsplash.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;	
}

.row {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Actor', sans-serif;
	padding-top: 3%;
	margin-top: 15%;
	margin-bottom: 6%;
	text-align: center;

}

h1 {
	display: inline;
	/*white-space: nowrap;*/
}

#hline {
	display: inline;
	border-bottom: 3px solid #6600cc;
	color: #009934;
	text-transform: uppercase;
}

#hline:hover {
	color: #FF0A0A;
}

.button {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10%;
	padding-top: 4%;
}

.btn-lg {
	background-color: #ff9300;
	color:#210A91;
	cursor: pointer;
	font-weight: 550;
	border: 2px solid #210A91;
	}

.btn-lg:hover {
	background-color: #8000ff;
	transform: scale(1.02);
}

footer {
	bottom: 0%;
	left: 0%;
	color: #006cff;
	margin-bottom: 0;
	font-size: 75%;
	clear:both;
}
